# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
!*.tfvars.example

# Secrets
.env
.env.*
*.pem

# Video Assets
test_assets/
tmp/

# Build artifacts
coverage.out

# OS specific
.DS_Store
