receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  prometheus:
    config:
      scrape_configs:
        - job_name: 'hls-api'
          scrape_interval: 10s
          static_configs:
            - targets: ['api:8080']
        - job_name: 'hls-worker'
          scrape_interval: 10s
          static_configs:
            - targets: ['worker:2112']

processors:
  batch:
    timeout: 10s

exporters:
  logging:
    loglevel: info
  jaeger:
    endpoint: jaeger:14250
    tls:
      insecure: true
  prometheus:
    endpoint: "0.0.0.0:8889"

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [jaeger, logging]
    metrics:
      receivers: [prometheus]
      processors: [batch]
      exporters: [prometheus, logging]
